<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title : 'Telangana Sarees' %></title>
  <link rel="stylesheet" href="/css/output.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://js.clerk.dev/v1"></script>
  <script>
    window.addEventListener('load', async function() {
      await Clerk.load({
        publishableKey: 'pk_test_Z3Jvd24ta2lsbGRlZXItODMuY2xlcmsuYWNjb3VudHMuZGV2JA'
      });
    });
  </script>
</head>