<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>

  <form method="get" action="/products">
    <button type="submit" name="category" value="men" class="category"><h1>Men</h1></button>
    <button type="submit" name="category" value="women" class="category"><h1>Women</h1></button>
    <button type="submit" name="category" value="kids" class="category"><h1>Kids</h1></button>
    <button type="submit" name="category" value="all" class="category"><h1>All</h1></button>
    <a class="category" href="/add-new"><h1>Add Product</h1></a>
  </form>

</body>
</html>
