<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <a class="category" href="/vendors"><h1>Vendors</h1></a>
    <a class="category" href="/category"><h1>Products</h1></a>
    <a class="category" href="/stats"><h1>Stats</h1></a>
</body>
</html>